@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

.intro{
  position: relative;
  margin: auto;
  top: 4em;
  background-color: tan;
  height: 5em;
  width: 75%;
  text-align: center;
  /*vertical-align: bottom;*/
  opacity: .7;
}

.intro h2 {
	padding-top: .4em;
	font-family: 'Slabo 27px', serif;
	font-size: 1.75em;
}

.intro h3 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.25em;	
}

.test{
	position:relative;
    width:100vw;
    margin: 0 auto;
}


.box{
	height: 65vh;
	width: 100vw;
	/*background-color: red;*/
	margin: 5em auto 0 auto;
}


.container{
	/*margin-bottom: 5em;*/
	background-image: url(mainpics/background.jpg);
	background-size: contain;
	/*background-size: cover !important;*/
	/*background-size: 50%;*/
	/*background-size: cover;*/
    background-position: center;
    position: absolute;
	margin: auto;
	margin-left: 20%;
	z-index: 1;
	height: 50em;
	width: 70em;
	background-repeat: no-repeat;
	/*box-sizing: border-box;*/	
	/*position:relative;*/
	/*height: 70vh;
	width: 100vw;*/
}


.circle {
	width: 25px;
	height: 25px;
	background: red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 50;
	display: inline-block;
    position:relative;
}


 .circle1{
	left: 65%;
	top: 60%;
	display: none;
}

 .circle2{
	left: 35%;
	top: 33%;
	display: none;
}

 .circle3{
	left: 49.55%;
	top: 25.5%;
	display: none;
}

 .circle4{
	left: 36%;
	top: 26%;
	display: none;
}

.circle5{
	left: 41%;
	top: 77.5%;
	display: none;
}






@media (max-width: 800px){
.container{
	height: 30vh;
	width: 50vw;
}

.intro h2 {
	padding-top: .4em;
	font-size: 1em;
}

.intro h3 {
	font-size: .75em;	
}

}