@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

body {
    font-family: 'Slabo 27px', serif;
}

.intro {
	background-color: tan;
	width: 100%;
	text-align: center;
	opacity: .7;
    padding: .6em 0em;
}

.intro h2 {
    padding-bottom: .2em;
    font-size: 1.75em;
}

.intro h3 {
    font-size: 1.25em;    
}

.menu-container {
    margin: 0 auto;
    padding: 0px;
    height: 9em;
}

.menu-view  {
    width: 16.666666666%;
    margin: 0px;
    padding: 0px;
    height: 9em;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
}


.menu-view .pleasure {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    top: 0;
    left: 0;
}

.menu-view img {
    display: block;
    position: absolute;
    background-size: 100%;
    height: 130%;
    width: auto;
}

.menu-view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 10px 0 0 0;
}

.menu-view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.menu-view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.menu-view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.map-container {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.map {
    z-index: 1;
    background-image: url('mainpics/background.jpg');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.circle {
    width: 25px;
    height: 25px;
    background: red;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 50;
    display: inline-block;
    position: relative;
}


.circle1 {
    left: 77%;
    top: 60%;
    display: none;
}

 .circle2 {
    left: 22%;
    top: 35%;
    display: none;
}

 .circle3 {
    left: 49.55%;
    top: 29.5%;
    display: none;
}

 .circle4 {
    left: 25%;
    top: 30%;
    display: none;
}

.circle5 {
    left: 34%;
    top: 74%;
    display: none;
}

.mobile-message {
	padding: 10px;
	font-size: 2em;
	display: none;

}

@media screen and (max-width: 500px) {
	.mobile-message {
		display: block;
	}
}